.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.pirate {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
}

.gold {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

@mixin dead {
  content: "";
  position: absolute;
  top: 48px;
  left: 0;
  width: 98px;
  height: 0;
  border-top: 1px solid red;
}

.dead {
  position: relative;
  &::before {
    @include dead;
    transform: rotate(45deg);
  }
  &::after {
    @include dead;
    transform: rotate(-45deg);
  }
}